<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>ca.julienlevasseur.Consul</string>
        <key>Program</key>
            <string><%= @Program %></string>
        <% if @ProgramArguments.length > 0 -%>
        <key>ProgramArguments</key>
            <% @ProgramArguments.each do |arg| %>
            <array>
                <string><%= "#{arg}" %></string>
            </array>
            <% end %>
        <% end %>
        <key>KeepAlive</key>
        <true/>
</dict>
</plist>