#!/usr/bin/env bash

start(){
	<%= node['consul']['service']['ExecStart'] %> &
}

stop(){
	<%= node['consul']['install_dir'] %>/consul leave
	pkill consul
}

restart(){
    stop
    start
}

# See how we were called.
case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart)
    restart
    ;;
  *)
    echo $"Usage: $0 {start|stop|status|restart}"
    exit 2
esac

exit $?